body {
	background-color : #FFFFFF;
	overflow: hidden;
	font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
}

h4 {
	font-size : 1.15em;
}

#createurcartes {
	overflow: auto !important;
	padding:1em;
	margin:auto;
	max-width:42em;
}

.main {
	cursor : pointer;
}

#plateau {
	position : absolute;
	background-color : white;
	background-image : url("plateau.png");
	background-repeat : no-repeat;
	background-size : contain;
	background-position: center; 
	top : 0;
	left : 21%;
	width : 78%;
	height : 100%;
}

#boite {
	position : absolute;
	background-color : #F0ECE5;
	top : 0;
	left : 0;
	width : 20%;
	height : 100%;
	box-shadow: 0px 0px 5px #161A30;
}

.boite {
	border : 1px solid #CECECE;
	border-radius : 10px;
	padding : 10px;
	margin : 5px;
}

.petitBouton {
	display : inline-block;
	border-radius : 15px;
	padding : 5px;
	margin : 5px;
	border : 3px solid #CECECE;
	border-bottom : 10px solid #CECECE;
}

#nom {
	margin : 10px;
	padding : 10px;
	background-color : #31304D;
	color : #FFFFFF;
	border-radius : 10px;
	text-align : center;
}

#des {
	padding : 10px;
	text-align : center;
	max-height : 30%;
}

#monDes {
	width : 30%;
}

#nom h1 {
	font-weight : bold;
	margin : 0px;
	font-size : 120%;
}

#des img {
	max-width: 35%;
}

#boutonDes, .boutonVert {
	margin : 10px;
	padding : 10px;
	background-color : #9DBC98;
	color : #FFFFFF;
	border-radius : 10px;
	text-align : center;
}

.boutonBleu {
	margin : 10px;
	padding : 10px;
	background-color : #1f618d;
	color : #FFFFFF;
	border-radius : 10px;
	text-align : center;
}

#boutonDes p {
	font-weight : bold;
	margin : 0px;
}

#cartesBoite {
	text-align : center;
	margin-top : 15px;
	margin-bottom : 25px;
	max-height : 30%;
}

#cartesBoite img {
	max-width : 75%;
}

#pions {
	text-align : center;
	max-height : 15%;
}

.pion {
	width : 50px;
	height : 50px;
	z-index : 50;
}

#rouge {
filter:  contrast(139%) hue-rotate(131deg) saturate(143%);
-webkit-filter:  contrast(139%) hue-rotate(131deg) saturate(143%);
}
#bleu {
filter:  contrast(139%) hue-rotate(318deg) saturate(143%);
-webkit-filter:  contrast(139%) hue-rotate(318deg) saturate(143%);
}
#vert {       
filter:  contrast(139%) hue-rotate(209deg) saturate(143%);
-webkit-filter:  contrast(139%) hue-rotate(209deg) saturate(143%);
}
#orange {               
filter:  contrast(150%) hue-rotate(149deg) saturate(0%);
-webkit-filter: contrast(150%) hue-rotate(149deg) saturate(0%);
}
#rose {
filter:  brightness(175%) hue-rotate(165deg) sepia(0%);
-webkit-filter:  brightness(175%) hue-rotate(165deg) sepia(0%);
}

.boutonParametre {
	width : 150px;
}

.grille {
	display : flex;
	flex-flow : row wrap;
	justify-content : center;
}

.marginTop {
	margin-top : 75px;
}

.bouPar, .boutonFermer, #info, #regles {
	width : 50px;
	height : 50px;
}

.bords {
	border : 1px solid #CECECE;
	border-radius : 15px;
	padding : 10px;
	margin : 5px;
}

.grilleDuo {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.illustration img {
	width:100%;
}

#maCarte, #carteInfo, #carteRegles {
	position : absolute;
	z-index : 100;
	background-color : #FFFFFF;
	border-radius : 20px;
	width : 76%;
	height : 76%;
	left : 10%;
	top : 10%;
	padding : 2%;
	text-align : center;
	box-shadow: 0px 0px 5px #161A30;
	transition: opacity 0.5s ease;
	overflow : auto;
}

#carteRegles .grilleDuo {
	text-align : left;
}

.grilleDuo div {
	padding : 15px;
}

#question, h2 {
	font-weight : bold;
	font-size : 2.5em;
	margin-top : 5%;
}

h3 {
	font-weight : bold;
	font-size : 1.75em;
}

#question {
	margin-bottom : 10%;
}

#prop1, #prop2, #prop3, #prop4 {
	display : inline-block;
	border-radius : 15px;
	border : 3px solid;
	border-bottom : 10px solid;
	font-size : 1.75em;
	padding : 1%;
	width : 42%;
	margin : 2%;
}

.prop1, .prop2, .prop3, .prop4 {
	display : inline-block;
	border-radius : 15px;
	border : 3px solid;
	border-bottom : 10px solid;
	font-size : 1em;
	padding : 1%;
	width : 42%;
	margin : 2%;
}

#prop1, .prop1 {border-color: #e74c3c ;}
#prop2, .prop2 {border-color: #2980b9 ;}
#prop3, .prop3 {border-color: #45b39d ;}
#prop4, .prop4 {border-color: #f5b041 ;}

#fermer, #fermerInfo, #fermerRegles {
	color : #5d6d7e;
	width : 100%;
	text-align : right;
	margin-top : 0px;
}

#cache {
	position : absolute;
	z-index : 75;
	width : 100%;
	height : 100%;
	top : 0;
	left : 0;
	background-color :#566573;
	transition: opacity 0.5s ease;
}

.centrer {
	text-align : center;
	width : 100%;
}

#circo {
	max-height : 150px;
	max-width : 90%;
}

#cc {
	height : 25px;
	width : 80px;
	vertical-align : middle;
}

.bRep {
	background-color : #a9dfbf;
}

@keyframes clignoter {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.clignoter {
  animation: clignoter 1s linear infinite;
}

@media (max-width: 800px) {
	#nom h1 {font-size:80%;}
	#des img {max-width : 70%;}
	#monDes {width : 70%;}
	#boutonDes {margin:0px;}
	#boutonDes p {font-size:70%;}
	.pion {width : 30px;height : 30px;}
	#cartesBoite {margin-top:10px;margin-bottom:10px;}
	.boutonParametre {width:30px;height:30px;}
	.boutonParametre p {font-size:x-small;}
	.marginTop{margin-top:25px;}
	#question {font-size:1.25em;}
	#prop1, #prop2, #prop3, #prop4 {font-size:1em;margin:1%;}
}

@media (max-width: 600px) {
	#prop1, #prop2, #prop3, #prop4 {display:block;width:95%;margin-bottom:1%;}
}